################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Jdanov/FileContentIndex/afc3bbda-1783-47d6-9c94-8316004dd91d.vsidx
/.vs/Jdanov/FileContentIndex/6140d2d1-a66b-4325-9ffc-7f97c3051280.vsidx
/.vs/Jdanov/FileContentIndex/cb6c9252-e32c-4d16-a880-98b1dfe8e034.vsidx
/.vs/slnx.sqlite
/.vs/Jdanov/FileContentIndex/f36316e0-6911-49a5-b096-e69f85efe51d.vsidx
/.vs/Jdanov/FileContentIndex/82a2eccc-e7fb-4cf3-80fd-75c64b7fda73.vsidx
/.vs/Jdanov/FileContentIndex/38018836-e8b0-4252-a838-727b71178ad4.vsidx
/.vs/Jdanov/FileContentIndex/3ae2431f-0999-47f0-866c-0e91c9329dac.vsidx
/.vs/Jdanov/FileContentIndex/6a0e7bf2-6f82-4986-98af-986ef0324629.vsidx
/.vs/Jdanov/FileContentIndex/cad1e847-bd77-4a34-a8ec-1cee1a1cb2c9.vsidx
